@{
    ViewData["Title"] = "Home Page";
}




<header class="jumbotron text-center bg-warning py-5">
    <h1 class="display-4">Craving Something Delicious?</h1>
    <p>Order from your favorite restaurants, fast and easy.</p>
</header>

<tr>
    <th><h4>Our Recommendation</h4></th>
    <td>
        <button>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Restaurent" asp-action="Index">Restaurent</a>
            </li>
        </button>
        <button>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Restaurent" asp-action="Index">Restaurent</a>
            </li>
        </button>
        <button>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Restaurent" asp-action="Index">Restaurent</a>
            </li>
        </button>

    </td>
    <th><h4>Our Recommendation</h4></th>
</tr>


