@using FoodappMVC.DTO
@model OrderDetailsDTO

<h2>Edit Order - @Model.OrderId</h2>

<form asp-action="EditOrder" method="post">
    <input type="hidden" asp-for="OrderId" />

    <div class="form-group">
        <label asp-for="OrderStatus"></label>
        <input asp-for="OrderStatus" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DeliveredBy"></label>
        <input asp-for="DeliveredBy" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ScheduleDeliveryAt"></label>
        <input asp-for="ScheduleDeliveryAt" type="datetime-local" class="form-control" />
    </div>

    <!-- You can expand to allow editing OrderLineItems if needed -->

    <button type="submit" class="btn btn-primary">Update</button>
</form>

